{% extends 'base.html' %}
{% block header %}
<div class='container'>
<ul class='conti'>
    {% if user %}
      <h1>{% block title %}Welcome {{user.username}}! {% endblock %}</h1>
      <div class="card" style="width: 18rem;">
        <img src="{{user.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <!--<h5 class="card-title">User: {{user.username}}</h5>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <a href="{{url_for('user_app.repo')}}" class="btn btn-primary">See reposotories</a>
        </div>
        </div>
    {% else %}
    {% endif %}
  </ul>
  </div>
  
{% endblock %}